div.center {
  align-items: center;
  justify-content: center;
}

div.flex {
  flex: 1
}

div.app_bg_row {
  background-color: #fafafa;
  flex: 1;
  display: flex;
  padding: 10px;
  flex-direction: row;
}

div.app_bg_column {
  background-color: #fafafa;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

div.align_end {
  align-content: flex-end;
  justify-content: flex-end;
  background-color: blue;
}

div.align_start {
  align-content: flex-start;
  justify-content: flex-start;
}

.orange_text {
  color: #FF9800;
}

.centered_loader {
  margin: 20px;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}